<template>
  <div class="publish">
    <button v-on:click="publish">Publish</button>
  </div>
</template>

<script>
export default {
  methods: {
    publish () {
      this.$mqtt.publish('VueMqtt/publish', 'message to Sub')
    }
  },
  mqtt: {
    'VueMqtt/publish' (data, topic) {
      console.log(topic + ': ' + String.fromCharCode.apply(null, data))
    }
  }
}
</script>
