<template>
  <div class="sub" v-html="buff">
  </div>
</template>

<script>
export default {
  data () {
    return {
      buff: 'Sub:<br>'
    }
  },
  mqtt: {
    /** 'VueMqtt/publish' or '+/publish' */
    'VueMqtt/publish' (data) {
      this.buff = this.buff + data + '<br>'
    }
  }
}
</script>
