<template>
  <div id="app">
    <img src="./assets/logo.png">
    <publish></publish>
    <sub1></sub1>
  </div>
</template>

<script>
import Publish from './components/Publish'
import Sub1 from './components/Sub1'

export default {
  name: 'app',
  components: {
    Publish, Sub1
  },
  mounted () {
    this.$mqtt.subscribe('VueMqtt/#')
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.sub {
  width: 30%;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 20px;
  padding: 20px 0;
}
button {
  padding: 10px 20px;
}
</style>
